/* ---------------------------------------------------------------------------- deformFormFieldset */
.deformFormFieldset { border:none !important; background-color:#ededed; padding:10px;}
.deformFormFieldset ul { list-style-type: none !important; margin-left: 0 !important; }
.deformFormFieldset label { margin-right:15px; }
.deformFormFieldset li.buttons { margin-top:15px; }
.miniatura_objecte_validacio_legal { float:right; margin-top:-63px; }
.miniatura_objecte_validacio_legal .genericview_imatge { background-color:transparent; }


/* ---------------------------------------------------------------------------- estructura */
#visual-portal-wrapper { margin:auto; width:950px; }
div.width-full { width: 100%; }
div.position-0 { margin-left: -100%; }
#content { margin:0; }
#content a:hover, dl.portlet a:hover{ color:#000000 !important;}

div.genericview fitxa_ampliada_cerca  {background-color: red !important}

div#portal-columns.row {margin-left: 0px;}
div#portal-top.row {margin-left: 0px;}
div#portal-footer-wrapper.row {margin-left: 0px;}
/* ---------------------------------------------------------------------------- general */
a { border-bottom:none !important; }

.div_dotted_line {float:left; width:100%; clear:both; border-top:1px dotted #888888; padding-top:10px; margin-top:4px; }
.div_dotted_line_soft { float:left; width:100%; clear:both; border-top:1px dotted #cccccc; padding-top:10px; margin-top:20px; }
.div_dotted_line_doble_negre { float:left; width:100%; clear:both; border-bottom:1px dotted #000000; border-top:1px dotted #000000; padding-bottom:8px; padding-top: 8px; margin-bottom:8px; }
.div_dotted_line_bottom { float:left; width:100%; clear:both; border-bottom:1px dotted #888888; padding-bottom:8px; margin-bottom:8px; }

#heading-assign-to-groups.div_dotted_line_bottom, #current-group-header.div_dotted_line_bottom {float:none;}

.hidden { display:none; }

img.arrow_top, img.arrow_bottom { margin-right:5px; }

.arial20c333333bold { font-family:Arial; font-size:20px; color:#333333 !important; font-weight:bold !important; }
.arial16c339933bold { font-family:Arial; font-size:16px; color:#339933 !important; font-weight:bold !important; }
.arial15c666666 { font-family:Arial; font-size:15px; color:#666666 !important; }
.arial15c999999 { font-family:Arial; font-size:15px; color:#999999 !important; }
.arial13c999999 { font-family:Arial; font-size:13px; color:#999999 !important; }
.arial13c999999upp { font-family:Arial; font-weight:normal; line-height:1em; font-size:13px; color:#999999 !important; text-transform: uppercase; }
.arial13c000000upp { font-family:Arial; font-weight:normal; line-height:1em; font-size:13px; color:#000000 !important; text-transform: uppercase; }
.arial13cffffff { font-family:Arial; font-size:13px; color:#ffffff !important; }
.arial12c999999 { font-family:Arial; font-size:12px; color:#999999 !important; }
.arial12c999999i { font-family:Arial; font-size:12px; color:#999999 !important; font-style:italic; }
.arial12c666666 { font-family:Arial; font-size:12px; color:#666666 !important; }
.arial12c339933 { font-family:Arial; font-size:12px; color:#339933 !important; }
.arial11c666666 { font-family:Arial; font-size:11px; color:#666666 !important; }
.arial11c339933 { font-family:Arial; font-size:11px; color:#339933 !important; }
.georgia32c666666 { font-family:georgia; font-size:32px; color:#666666 !important; line-height:38px; }
.georgia13c333333 { font-family:georgia; font-size:13px; color:#333333 !important; }
.georgia13c333333italic { font-family:georgia; font-size:13px; color:#333333 !important; font-style:italic }
.georgia13c666666italic { font-family:georgia; font-size:13px; color:#666666 !important; font-style:italic }
.georgia13c000000italic { font-family:georgia; font-size:13px; color:#000000 !important; font-style:italic }
.georgia13c999999 { font-family:georgia; font-size:13px; color:#999999 !important; }
.georgia14c333333 { font-family:georgia; font-size:14px; color:#333333 !important; }
.georgia15c666666italic { font-family:georgia; font-size:15px; color:#666666 !important; font-style:italic; }
.georgia11c333333 { font-family:georgia; font-size:11px; color:#333333 !important; }
.georgia11c999999 { font-family:georgia; font-size:11px; color:#999999 !important; }
.georgia11c000000 { font-family:georgia; font-size:11px; color:#000000 !important; }
.TerminalDosis600 { font-family:'Terminal Dosis', sans-serif; font-weight: 600; font-size: 9pt; }
.TerminalDosis200 { font-family:'Terminal Dosis', sans-serif; font-weight: 200; font-size: 9pt; }
.TerminalDosis600c339933upp { font-family:'Terminal Dosis', sans-serif; font-weight: 600; font-size: 9pt; color:#339933 !important; text-transform:uppercase;}
.BreadCrumbSecondary { font-family:'Terminal Dosis', sans-serif; font-weight: 600; font-size: 9pt; color: #999999;}
.font_normal { font-weight: normal !important; }

img.spinner_zona_resultats { margin: 220px 0 220px 49%; }
img.spinner_pagina { margin: 220px 0 0 49%; }

.ac_breadcrump { font-size:9pt; text-transform:uppercase; }
.breadcrumb_cerca { margin-top: 18px; }

/* Cerca a la biblioteca || Buscar en la biblioteca */
.ac_search_biblio { text-align: right; float:right; width:20%; }
.link_biblioteca { text-transform: none; }

a.internal-link, a.external-link, a.linked_object, .filtres a, .template-explorar #wrapper_resultats a { color: #00A2DA !important; }
a.internal-link:hover, a.external-link:hover, a.linked_object:hover, .filtres a:hover, .template-explorar #wrapper_resultats a:hover {color: #007ca7 !important; }
a.internal-link:visited, a.external-link:visited, a.linked_object:visited, .filtres a:visited, .template-explorar #wrapper_resultats a:visited { color: #008fc1 !important; }

/* ---------------------------------------------------------------------------- edit-bar */
#contentActionMenus dl.actionMenu a, #contentActionMenus dl.actionMenu.activated dd, #contentActionMenus, #content-views, #edit-bar
    { background-color:#dddddd; border-color:#dddddd; }


/* ---------------------------------------------------------------------------- languageselector.pt */
#selector_idiomes { width:100%; clear:both; float:left; margin-bottom:15px; }
#selector_idiomes img{ vertical-align: middle; }
#selector_idiomes a{ color:#999999; }
#selector_idiomes dl.actionMenu { background-color:#FFFFFF; border-radius:0 0 0.3em 0.3em; -webkit-radius:0 0 0.3em 0.3em; -moz-border-radius:0 0 0.3em 0.3em; }
#selector_idiomes dl.actionMenu.activated { border-radius:0; -webkit-radius:0; -moz-border-radius:0; }
#selector_idiomes dl.actionMenu .actionMenuHeader { padding-bottom:2px; }
#selector_idiomes dl.actionMenu .currentLanguage { margin:0 12px 0px 8px; }
#selector_idiomes dd.actionMenuContent {background-color:#EDEDED !important; padding:0; border-radius:0 0 0.3em 0.3em; -webkit-radius:0 0 0.3em 0.3em; -moz-border-radius:0 0 0.3em 0.3em; z-index:4; }
#selector_idiomes dd.actionMenuContent a {background-color:#EDEDED !important; padding:2px 0 4px 0; margin-left:8px; }
#selector_idiomes dd.actionMenuContent a:hover {color: #000000 !important;}
#selector_idiomes dl.actionMenu .currentLanguage:hover {color: #000000 !important;}

/* ---------------------------------------------------------------------------- portal-logo */
#portal-logo { float:left; margin-bottom: 15px; margin-top: 7px;}


/* ---------------------------------------------------------------------------- cercador.pt */
#viewlet_cercador { float:left; width:450px; margin-left:100px; }
#viewlet_cercador form#cercador { width:330px; float:left; }
#viewlet_cercador form#cercador input { float:left; height:16px; display:inline;  padding:10px; border:none; border-radius:0.3em 0 0 0.3em; -webkit-radius:0.3em 0 0 0.3em; -moz-border-radius:0.3em 0 0 0.3em; background-color:#EEEEEE; }
#viewlet_cercador #s { background-color:transparent; width: 270px; border:none; }
#viewlet_cercador .searchButton { height:36px; width:36px; background:url('++resource++fatac.theme.images/ico-buscar-a.gif') no-repeat right center transparent; border:none; float:left; }
#viewlet_cercador a {  margin: 7px 0 0 25px; float:left; }
#viewlet_cercador img{ vertical-align:middle;}


/* ---------------------------------------------------------------------------- personal_bar.pt */
#portal-personaltools-wrapper { float:right; }
#portal-personaltools { height: 25px; background-color:#b3d396; border-radius:0.3em; -webkit-radius:0.3em; -moz-border-radius:0.3em; padding:0.5em; font-size:13px;}
#portal-personaltools, #portal-personaltools a, #portal-personaltools a:hover { color:#339933 !important; }
#portal-personaltools.activated { border-radius:0.3em 0.3em 0 0; -webkit-radius:0.3em 0.3em 0 0; -moz-border-radius:0.3em 0.3em 0 0; }
#portal-personaltools dd { background-color:#e1edd7; margin-top:7px; }
#portal-personaltools dd a:hover { background-color:#d2e3c1 !important; }

#portal-personaltools dt.actionMenuHeader a:after { content: none; }
#portal-personaltools dt.actionMenuHeader a { background:url('++resource++fatac.theme.images/arrow_down_green.gif') no-repeat right 18px transparent; padding-right:20px; }

#portal-personaltools li a { padding-left: 24px; }
#portal-personaltools .Add.Playlist a, #portal-personaltools .Add.Playlist a:hover { background:url('++resource++fatac.theme.images/icon-playlist.png') no-repeat left center transparent; }
#portal-personaltools .Add.Group a, #portal-personaltools .Add.Group a:hover { background:url('++resource++fatac.theme.images/icon-grups.png') no-repeat left center transparent; }
#portal-personaltools .dashboard a, #portal-personaltools .dashboard a:hover { background:url('++resource++fatac.theme.images/icon-compte.png') no-repeat left center transparent; }
#anon-personalbar {height: 22px; padding-top: 1px;}

/* ---------------------------------------------------------------------------- searchview.pt: filtres; */
#selector_filtres  { margin-bottom:10px; }
#selector_filtres .boto_filtres { float:right; text-align:left; background-color:#FFFFFF; border:none; padding:0px 7px 2px 10px; /*border:1px solid #999999; padding:0px 20px 2px 10px; border-radius:0.3em; -webkit-radius:0.3em; -moz-border-radius:0.3em;*/ }
/* comentat perquè ara no volen imatges de fons ([+] i [-])
#selector_filtres .boto_filtres { float:right; text-align:left; background-color:#FFFFFF; border:none; padding:0px 20px 2px 10px; }
#selector_filtres .boto_filtres.amagar_filtres { background:url('++resource++fatac.theme.images/ico_reduir.png')  no-repeat right center #FFFFFF; }
#selector_filtres .boto_filtres.mostrar_filtres { background:url('++resource++fatac.theme.images/ico_ampliar.png')  no-repeat right center #FFFFFF; }
*/
#selector_filtres .div_dotted_line { margin-top:8px; }
#selector_filtres div.filtres { float:left; width:24000px; }
#selector_filtres .filtre { float:left; width:138px; margin-left:10px; overflow:hidden; }

#selector_filtres .filtre .div_interior { width:125px; }

#selector_filtres .filtre ul, #selector_filtres .filtre dd { margin:0; }
#selector_filtres .filtre dt { margin-bottom:5px; font-weight:normal; }
#selector_filtres .filtre li { display:block; }

#selector_filtres .arrow_left, #selector_filtres .arrow_right { float:left; width:3%; text-align:center; padding-top:50px; }
#selector_filtres .arrow_right { float:right;}

#selector_filtres .filtre a.link_filtre:hover, #selector_filtres .filtre a.link_filtre.selected
    { color:#000000 !important; }

/* css necessari per ampliar filtres (jquery) */

#selector_filtres .filtre .div_interior li { line-height:15px; }
#selector_filtres .filtre, #selector_filtres #wrapper { height:131px; }
#selector_filtres #wrapper { overflow:hidden; }
#selector_filtres .clearLeft {clear:left;}


/* css necessari per scroll horitzontal de filtre (jquery) */

#selector_filtres .scrollable { position:relative; overflow:hidden; }
#selector_filtres .scrollable .filtres { width:20000em; position:absolute; }
#selector_filtres .scrollable .filtres div { float:left; }
#selector_filtres a.disabled { visibility:hidden !important; }


/* css necessari per scroll vertical d'opcions dins un filtre (jquery) */

#selector_filtres .ui-slider .ui-slider-handle { z-index: 1; }

#selector_filtres .slider-vertical, #selector_filtres .slideopcions, #selector_filtres .barra { height:105px; }
#selector_filtres .slideopcions { overflow:hidden; float:left; position:relative; }

#selector_filtres #filtres { padding:25px 0; }

.div_interior { float:left; width:270px; }
.barra, .ui-slider-handle { margin-left:2px; }
.barra { float:right; background:url('++resource++fatac.theme.images/slider.png')  repeat-y center transparent; border:none; width:7px; }
.slider-vertical{ position:relative; text-align:center; background-image:none; background-color:transparent; width:3px; border:0; margin-left:2px; }
@media screen and (-webkit-min-device-pixel-ratio:0)
{ .slider-vertical{ margin-left:1px; } }
.ui-slider-handle { height:10px; margin:0 auto; background-color:#999999; background-image:none !important; display:block; position:absolute; width:3px; }

    /* css per que esfaci ample l'scroll quan el fem servir */
    .slider_vertical .ui-slider-handle { margin-left:4px; width:100%; background-image:none; background-color:#999999; width:3px; margin-left:4px; border:0; }
    .slider_vertical:hover .ui-slider-handle { border-left:2px solid #999999; border-right:2px solid #999999; margin-left:3px; border-radius:0; }


/* ---------------------------------------------------------------------------- llistes desplegables */
dl.llista_desplegable { margin-bottom:0; margin-left:20px; }
dl.llista_desplegable img {vertical-align: middle;}
dl.llista_desplegable dt { margin:0 !important; min-width: 100%; width: auto; border-radius:0.3em; -webkit-radius:0.3em; -moz-border-radius:0.3em; padding:0; }
dl.llista_desplegable.activated dt { border-bottom:0; border-radius:0.3em 0.3em 0 0; -webkit-radius:0.3em 0.3em 0 0; -moz-border-radius:0.3em 0.3em 0 0; }
dl.llista_desplegable dt a { margin:0 10px !important; border-bottom:none !important; font-weight:normal; }
dl.llista_desplegable dd { right:-2px; margin:0 !important; border-radius:0 0 0.3em 0.3em; -webkit-radius:0 0 0.3em 0.3em; -moz-border-radius:0 0 0.3em 0.3em; padding:0; border-top:0; }
dl.llista_desplegable dd ul { list-style-type: none !important; margin: 0 10px !important; text-align:right;}
dl.llista_desplegable dt { background-color:#FFFFFF; }
dl.llista_desplegable dd { background-color:#ECECEC; opacity:0.9; padding-right:10px;}
dl.llista_desplegable_gris dt, dl.llista_desplegable_gris dd { background-color:#ECECEC; border: 1px solid #999999; }
dl.llista_desplegable_gris dd a.selected { color:#000000 !important; }

dl.llista_desplegable_verd dt, dl.llista_desplegable_verd dd { background-color:#D3E3C3; border: 1px solid #339933; }


/* ---------------------------------------------------------------------------- searchview.pt: resultats; */
#resultats .arrow_left_resultats, #resultats .arrow_right_resultats { float:left; width:3%; }
#resultats .arrow_right_resultats { float:right;}
#resultats .resultat { float:left; margin-right:9px; margin-top:9px; background-color:#ececec; }
#resultats .resultat.small { width:71px; height:71px; }
#resultats .resultat.medium { width:88px; height:88px; }
#resultats .resultat.large { width:114px; height:114px; }
#resultats .resultat.small img { max-width:71px; max-height:71px; }
#resultats .resultat.medium img { max-width:88px; max-height:88px; }
#resultats .resultat.large img { max-width:114px; max-height:114px; }

#controls_resultats { float:left; width:100%; margin:10px 0;}

#dades_paginacio_cerca { float:left; width:50%; font-size:12px; color:#999999 !important; font-family: georgia; }

#zoom_resultats { margin-right:7px; float:left; width:125px; height:18px; padding:5px 10px 0 10px; background-color:#f3f3f3; border:1px solid #cccccc; border-radius:0.3em; -webkit-radius:0.3em; -moz-border-radius:0.3em; }
#zoom_resultats img, #zoom_resultats #slider-wrap-zoom { float:left; }
/* per que la barra que fa slide pugui fer 20px d'ample, li posem 20 px de border-right */
#zoom_resultats #slider-wrap-zoom { position:absolute; height:7px; width:60px; margin:2px 9px 0 22px; background:url('++resource++fatac.theme.images/slider_h.png')  repeat-x center transparent; border-right: 20px solid transparent; border-radius:0; border-color:transparent; }
#zoom_resultats #slider-wrap-zoom .ui-slider-handle { height:7px; margin:3px auto 0; background-color:#999999; border-color:#999999; display:block; position:absolute; width:20px; border-radius:0; }
#zoom_resultats #zoom_menys { float:left; }
#zoom_resultats #zoom_mes { float:right; }

#visualitzacio_resultats { float:right; }

#accions_cerca { padding-top:30px; }
#accions_cerca dl.llista_desplegable dt img { margin-left: 5px; }

#visualitzacio_resultats a img { border:1px solid transparent; }
#visualitzacio_resultats div#zoom_resultats.selected, #visualitzacio_resultats div#zoom_resultats:hover, #visualitzacio_resultats a.selected img, #visualitzacio_resultats a:hover img { border:1px solid #999999; border-radius:0.3em; -webkit-radius:0.3em; -moz-border-radius:0.3em; }

#resultats { float:left; width:100%; }
#wrapper_resultats { overflow:hidden; position:relative; height:485px; }
.pagines_resultats { position:absolute; width:20000em; }
.pagines_resultats .pagina { width:944px; float:left; }
#resultats_cerca a.disabled { visibility: hidden !important; }

#ordre_y_tipus_cerca dl { margin-bottom:0; z-index:1; }


/* ---------------------------------------------------------------------------- viewlet_footer */
#viewlet_footer { width:100%; margin-top:15px; margin-bottom:20px; float:left; }
#viewlet_footer #links_footer, #viewlet_footer #sponsors { float:left; width:100%; padding-top:25px; margin-top:30px; }
#viewlet_footer #sponsors div { float:left; }
#viewlet_footer #sponsors div img { margin: 20px 20px 0 0; }

#links2 { float:right; text-align:right; width:60%; margin-top:6px; }

/* ---------------------------------------------------------------------------- homeview.pt */
#text_intro { width:94%; float:left; padding: 35px 3% 10px 3%; margin-top:25px; border-top:1px dotted #888888; }
#text_intro p {margin-bottom: 0.5em;}

#ultims_documents, #ultims_consultats { width:100%; float:left; }
.requadre_resultats { text-align:center; width:100%; float:left; border-bottom:1px dotted #888888; background-color:#EEEEEE; padding:10px 0; margin:0; }
.requadre_resultats .arrow_up { margin-bottom:10px; }
.requadre_resultats .arrow_down { margin-top:10px; }
.requadre_resultats .genericview_fitxa_home { height:175px; text-align:left;  width:16.3%; float:left; margin:0 0.7%; background-color:white; padding:0; }

div.titol_home { border-top: 1px dotted #888; padding-top: 10px; margin-top: 10px; border-bottom: 1px dotted #888; padding-bottom: 10px; }
#ultims_consultats div.titol_home { border-top:0; margin-top:0; }

/* codi necessari per scrollable ultims_documents, ultims_consultats i formulari legal */
.requadre_resultats a.disabled { visibility: hidden; }
.scrollable_fatac { position:relative; overflow:hidden; width: 100%; }
.scrollable_fatac { height:175px; text-align:left; padding:0 29px; }
.scrollable_fatac .pagina { position:absolute; height:20000em; width:100%; }
.scrollable_fatac .fila { float:left; width:100%; }

 .spinner_home { margin: 80px 0 0 49% }


/* ---------------------------------------------------------------------------- resultats cerca */
#resultats_cerca { min-height:480px; }
#resultats_cerca #wrapper_resultats { margin: 0 28px; width:879px; }
#resultats_cerca .arrow_left_resultats, #resultats_cerca .arrow_right_resultats { margin-top: 220px; }
#resultats_cerca .column-results {height:460px; overflow:hidden;}
#resultats_cerca .column-results .slider_vertical { height:440px;}.
#resultats_cerca .column-results ul { margin:0; padding:0; list-style: none; }
#resultats_cerca .column-results .div_interior ul { margin:0; padding:0; list-style: none; }
#content .page_bottom ul { margin:0; padding:0; list-style: none; }
#content .page_bottom li { display:inline; margin-right:20px; }

/* ---------------------------------------------------------------------------- cerca_view.pt */
.zona_filtres_inicial { text-align:center; height:173px }
.zona_resultats_inicial { text-align:center; height:500px; }
.zona_resultats_inicial img { margin-top:200px; }


/* ---------------------------------------------------------------------------- explorarview.pt */
.explorar_classe.selected { color:black !important; }



















/* ---------------------------------------------------------------------------- content/dummy_templates/view.pt (vista final dels objectes) */
/*
#header_objecte {background-color: orange}
#body_objecte {background-color: lightblue}
#content_objecte {background-color: lightgreen}
#footer_objecte {background-color: pink}
*/
div.genericview_fitxa_final div.num_aportacions { float:left; margin-left:10px; padding:3px 10px; height:16px; color: #339933; background-color: #D3E3C3; border-radius: 0.3em; -webkit-radius: 0.3em; -moz-border-radius: 0.3em; }
div.genericview_fitxa_final img.miniatura_classe { max-width:15px; max-height:15px; vertical-align: middle;}

div.genericview_fitxa_final { float:left; width:100%; margin-top:20px; }
div.genericview_fitxa_final .slider_vertical { height:200px; }
div.genericview_fitxa_final .seccio_dades { width:100%; }
div.genericview_fitxa_final .pagines_resultats .slider_vertical { height:480px; }
div.genericview_fitxa_final.sense_subcerca #header_objecte:first-child,
div.genericview_fitxa_final #header_objecte .div_interior:first-child { font-size:20px; font-style:italic; line-height:22px; }

div.genericview_fitxa_final.amb_subcerca #header_objecte { float:left; width:33%; margin-bottom:20px; clear:left; }
div.genericview_fitxa_final.amb_subcerca #body_objecte { float:left; width:66%; margin-bottom:20px; margin-left:1%; clear:right; max-height:200px;}
div.genericview_fitxa_final.amb_subcerca #body_objecte .div_interior{ width:98%;}

div.genericview_fitxa_final.sense_subcerca .divs_esq { float:left; width:33%; clear:left; margin-bottom:20px; }
div.genericview_fitxa_final.sense_subcerca #header_objecte { float:left; width:100%; margin-bottom:10px; }
div.genericview_fitxa_final.sense_subcerca #body_objecte { float:left; width:100%; }
div.genericview_fitxa_final.sense_subcerca #content_objecte { float:right; width:65%; margin-bottom:20px; clear:right; }

div.genericview_fitxa_final img.addPlaylist {float:left;}

.counters { background-color:#ECECEC; float:left; width:184px; clear:right; font-family:georgia; font-size:14px; color:#999999; }
.counters .counter { float:left; width:80px; border:1px solid white; padding:5px; }
.counters .counter img { max-height:15px; max-width:15px; margin-right:5px; }

.requadre_objects { margin:0 0 20px 0; text-align:center; }
.scrollable_genericview { height:220px; text-align:center; width:98%; float:left; border-top:1px dotted #888888; border-bottom:1px dotted #888888; background-color:#ececec; padding:0% 2% 0% 0; margin:0; }
.scrollable_genericview .fila { margin: 10px 0; }
.requadre_objects .arrow_up { margin-bottom:10px; }
.requadre_objects .arrow_down { margin-top:10px; }
.requadre_objects .genericview_fitxa_home {height:175px; text-align:left;  width:26.6%; float:left; margin-left:2%; background-color:white; padding:2%; }
.requadre_objects a.disabled { visibility: hidden; }

.media_image { max-width:617px; height : auto; }
.media_image { width:auto; max-height : 480px; }
.media_video, .media_audio, .media_image { margin-bottom:10px; clear:right; }

/* ---------------------------------------------------------------------------- genericview_imatge.pt */
.genericview_imatge { float:left; background-color:#ececec; text-align:center; margin:5px; }
.genericview_imatge.zoom_1 { width:70px; height:70px; }
.genericview_imatge.zoom_2 { width:85px; height:85px; margin:6px;}
.genericview_imatge.zoom_3 { width:100px; height:100px; }
.genericview_imatge.zoom_1 img { max-width:70px; max-height:70px; }
.miniatura_objecte { max-width:100% !important; max-height:100% !important;}
.genericview_imatge.zoom_2 img { max-width:85px; max-height:85px; }
.genericview_imatge.zoom_3 img { max-width:100px; max-height:100px; }
.spinner img { margin-top:40%; }
.hover_miniatura_classe { text-align: left !important;}


/* ---------------------------------------------------------------------------- genericview_fitxa_cerca.pt */
.genericview_fitxa_cerca { float:left; width:274px; margin:1%; height:80px; background-color:transparent; overflow:hidden; font-family:georgia; font-size:13px;}
.genericview_fitxa_cerca:hover { background-color:#ececec; }
.genericview_fitxa_cerca .thumbnail { float:left; width:29%; margin-right:2%; }
.genericview_fitxa_cerca .thumbnail .miniatura_objecte { max-width:100%; max-height:100%; }
.genericview_fitxa_cerca .dades { padding-top:1px; width:69%; height:100%; overflow:hidden;}
.genericview_fitxa_cerca .dades .miniatura_classe { max-width:15px; max-height:15px; margin-bottom:10px; }
#content .genericview_fitxa_cerca a{ color: #333333;}
#content .genericview_fitxa_cerca a:hover { color: #666666 !important;}

/* --------------------------------------------------------------------- genericview_fitxa_ampliadacerca.pt */
.genericview_fitxa_ampliada_cerca #dades_left { float:left; width:30%; }
.genericview_fitxa_ampliada_cerca #dades_left .div_interior { width:95%; }
.genericview_fitxa_ampliada_cerca #dades_left, .genericview_fitxa_ampliada_cerca #dades_right, .genericview_fitxa_ampliada_cerca .slider-vertical, .genericview_fitxa_ampliada_cerca .slideopcions, .genericview_fitxa_ampliada_cerca .barra
    { height:200px; }
.genericview_fitxa_ampliada_cerca #dades_right { float:left; width:67%; margin-left:2%; }

.genericview_fitxa_ampliada_cerca h1 { margin-top:0 !important; float:left; }
.genericview_fitxa_ampliada_cerca .miniatura_classe { max-width:15px; max-height:15px; margin:9px 0 0 5px; }

.fitxa_ampliada_cerca .caixa_titol { margin-top: 5px; }
.fitxa_ampliada_cerca .miniatura_classe { max-width:15px; max-height:15px; margin-bottom:4px; }

/* --------------------------------------------------------------------- genericview_hover_cerca.pt */
/*
.genericview_hover_cerca { max-width: 210px; }
.genericview_hover_cerca .miniatura_classe { max-width:15px; max-height:15px; margin:10px 0 7px 0; }
.img_hover { background-color:#FFFFFF; padding:20px; -moz-box-shadow:0 0 90px 5px #000; -webkit-box-shadow: 0 0 90px #000; }
*/
/*.wrapper_hover { background-color:#FFFFFF; padding:10px; box-shadow:0 0 20px 0px; width:220px; height:280px; }
*//*.wrapper_hover img { max-width:200px; max-height:230px; }*/
/*.wrapper_hover img.miniatura_classe { max-width:15px; max-height:15px; margin:10px 0 7px 0; }*/

.genericview.genericview_hover_cerca { border-radius: 0.2em; -webkit-border-radius: 0.2em; -moz-border-radius: 0.2em; -moz-box-shadow: 0 0 15px #666; -webkit-box-shadow: 0 0 15px #666; box-shadow: 0 0 15px #666; text-align:left; background-color:#FFFFFF; padding:10px; width:220px; }
.genericview.genericview_hover_cerca img { width:218px; max-height:230px; }
.genericview.genericview_hover_cerca img.miniatura_classe { max-width:15px; max-height:15px; margin:5px 0 2px 0; }

/* ---------------------------------------------------------------------------- genericview_fitxa_home.pt */
.genericview_fitxa_home { float:left; }
.genericview_fitxa_home .miniatura_objecte { max-width:164px; max-height:90px; }
.genericview_fitxa_home .miniatura_classe { float:left; max-width:15px; max-height:15px; margin:5px 0;}
.genericview_fitxa_home div.imatge { float:left; width:100%; height:90px; margin-bottom:5px; }
.genericview_fitxa_home div.dades { float:left; width:92%; height:65px; padding: 0 4%; }
.genericview_fitxa_home img.addPlaylist { margin-top:3px; }


.slideFitxaOpcions { height:485px; overflow:hidden; float:left; position:relative; }
#slideFitxaOpcionsId { height:485px; }

/* ---------------------------------------------------------------------------- fullscreen */

#fullscreenSlideshowContainer { z-index:10;}
#fullscreenSlideshowContainer a { color:#FFFFFF; }
#fullscreenSlideshowContainer a:visited { color:#FFFFFF; }
#fullscreenSlideshowContainer a:hover { text-decoration:underline; }
#fullscreenSlideshowContainer .download { color: #ECECEC; text-align: center; }
#fullscreenSlideshowContainer .ui { position: absolute;font-family: sans-serif; z-index: 100; font-size: 1em;}
#fullscreenSlideshowContainer .ui img{vertical-align: middle; }

#fs-header, #fs-loader, #fs-caption { -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; }
#fs-header, #fs-loader, #fs-caption, #fs-footer { background-color: black; font-weight: bold; cursor: pointer; line-height: 1em; color: #ECECEC; }
#fs-header div, #fs-fotter div { display:inline; }

#fs-header { background-color: #464242; top:0.75em; right:1em;  padding:0.5em; text-align: center; }
#fs-header .logo { position: absolute; text-transform: uppercase; left: 2em; }
#fs-header .title { font-size:0.8em; }
#fs-header .btns { float:right; }
#fs-header .fs-header-extra { display:none; }

#fs-header:hover { left:1em; }
#fs-header:hover .fs-header-extra { display:inline; }

#fs-footer { background-color: #464242; bottom:0em; left:0em; right:0em; opacity:0.8; text-align: center; }
#fs-footer div { display:inline; vertical-align:middle;}
#fs-footer .helper { background-color: red; bottom: 0; height: 20px; left: 0; position: absolute; width: 100%; opacity: 0; display:hidden;}
#fs-footer .fs-prev { float:left; font-size: 3em; padding: 30px 12px 12px; margin:15px 20px 15px 0;}
#fs-footer .fs-next { float:right; font-size: 3em; padding: 30px 12px 12px; margin:15px 0 15px 20px;}
#fs-footer .slide-selector { float:left; font-size:0.8em; line-height:1em; text-align:left; width:100%; height:110px; overflow:hidden;}
.slide-preview { width:25%; margin:15px 0 15px 0; float:left;}
.slide-preview .thumbnail img{ float: left; width:70px; vertical-align:middle; margin-right:10px; }
.slide-preview .dades img { width:16px; margin:0 0 10px 0;}
/* .slide-preview.selected { border: solid 2px #FFF;}*/

#fs-loader { top: 50%; left: 50%; height: 1em; margin-top: -1em; margin-left: -75px; display: none; }
#fs-caption { padding: 2px; background-color: #464242; position: fixed; width: 300px; max-height: 485px; left: 1em; top: 50px; color: #ECECEC; overflow: hidden;}
#fs-caption .slider-vertical{text-align:left;}
#fs-caption .header { padding:5px; }
#fs-caption .header img{ vertical-align:middle; max-width:15px; }
#fs-caption .body { padding: 5px; font-family: arial; font-size: 12px; }
#fs-caption .counters { background-color: inherit; color: inherit;}
#fs-caption .counters .counter { border: none; }

#selector_idiomes dl.actionMenu {
    position:relative;
}


.portaltype-fatac-playlist #contentview-local_roles {display:none;}
.portaltype-fatac-playlist #parent-fieldname-title, .portaltype-fatac-playlist #parent-fieldname-description {display: none;}
.portaltype-fatac-playlist .documentFirstHeading, .portaltype-fatac-playlist .documentDescription {display: none;}

#advanced {display: none !important;}

/* Comentaris */

div.photo-column {
    float: left ;
    margin-right: 10px ;
}

div.photo-container {
    display: inline;
    clear: both;
}




/*#viewlet-below-content {
    clear: both;
    background-color: #d3e3c3;
    padding: 1em;
    border-radius: 0.3em;
}*/




/* plone.app.discussion stylesheet */

.discussion .hide {
    display: none;
}


/* Comments Viewlet
   -------------------------------------------------------------------------- */

.discussion,
#commenting {
    /* Clear "float: left" from "manage portlets" div above the
       comment viewlet. This will get fixed in the next Plone 4
       release. */
    clear: both;
}

.comment {
    margin-bottom: 25px;
}

.commentImage {
    float: left;
    margin-right: 0.5em;
    height: 3.5em;
}

.commentImage a:link {
    /* Override the default bottom border of links in Plone 4. */
    border: 0px;
}

.commentImage img {

}

.commentDate {
    display: inline;
    font-size: 13px;
    color: #339933;
    font-style: normal;
}

.commentBody {
    clear: both;
    overflow: auto;
    font-family: serif, sans-serif;
    font-size:16px;
    color: black !important;
    border-radius:0em;
    box-shadow: 0 0 0 0 #000000;
    padding: 0;
}

.commentBody p {
    float: left;
 }

.discussion .documentByLine {
    float: left;
    margin-left: 0;
    margin-bottom: 0.5em;
    color: #339933;
    font-size: 16px;
    font-style: italic;
}
.discussion .documentByLine a {
    color: #339933;
}

.commentActions {
    float: right;
    text-align: right;
}
.commentActions input {
    margin-right: 3px;
    padding: 0px 5px;
    padding-left: 5px;
    border-radius: 0.2em;
    border-width: 1px !important;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    color:#339933 !important;
    background-color:#B3D396;
}

.discussion .discreet {
    color: #666666;
    font-size: 85%;
}

/* Reply Form
   -------------------------------------------------------------------------- */

.reply fieldset {
    /* Fix bouncing fieldset when reply form is shown. */
    margin: 0 !important;
    color: #339933;
}

.reply .text-widget {
    /* Make sure the input fields are always below the label. This sometimes
     * break when the reply form is copied from the main comment form.
     */
    display: block;
}

.reply-to-comment-button {
   /* Hide the reply-to-comment button and show it only if Javascript
    * is enabled. Since the reply functions rely on jQuery.
    */
    display: none;
    margin-right: 3px;
    padding: 0px 5px;
    padding-left: 5px;
    border-radius: 0.2em;
    border-width: 1px !important;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    color:#339933 !important;
    background-color:#B3D396;

}

.cancelreplytocomment {
    /* Hide the cancel button in the comment form, show it only in the reply form
     * in order to close it.
     */
    display: none;
}


/* Moderation View
   -------------------------------------------------------------------------- */

#bulkactions {
    text-align: left;
}

#dobulkaction {
    margin: 0.3em 0;
}

.comment-publish-button {
    float: left;
    margin-right: 0.5em;
}

.comment-delete-button {
    float: left;
}

#review-comments {
    margin: 0;
}

#fieldset-moderate-comments {
    padding: 2em 1em;
}

/* Discussion Control Panel
   -------------------------------------------------------------------------- */

.template-discussion-settings .unclickable {
    opacity: 0.6;
    filter: alpha(opacity = 50);
}

/* Plone 4 Styles
   -------------------------------------------------------------------------- */

/* These styles are only applied for Plone 4, since Plone 3.x does
    not have a .row class for portal-column-content. */

.row #dobulkaction {
    margin: 0;
}

.row #commenting {
    font-size: 80%;
}

.row #commenting .formControls {
    margin: 0;
}

.row #commenting .formControls input {
    margin-right: 3px;
    padding: 0px 5px;
    padding-left: 5px;
    border-radius: 0.2em;
    border-width: 1px !important;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    color:#339933 !important;
    background-color:#B3D396;
}

.row #commenting textarea,
.row .discussion textarea {
    font: 100% Monaco, "Courier New", Courier, monospace;
    width: 100%;
}

.row #commenting fieldset,
.row .discussion fieldset {
    border: 0.1em solid #339933;
    border-style: solid none none none;
}

.row #commenting legend,
.row .discussion legend {
    padding: 0.5em 0.5em 0.5em 0;
    font-size: 85%;
    color: #339933;
}

.row #commenting label,
.row .discussion label {
    font-weight:bold;
}

#commenting {
    clear: both;
    background-color: #d3e3c3;
    padding: 10px;
    border-radius: 0.3em;
}

#commenting textarea {
    background-color: #d3e3c3;
    border-radius: 0.3em;
    border:1px solid #d3e3c3;
    color: #339933;
    font-size: 18px !important;
    padding: 5px;
    width: 920px !important;
}

#commenting textarea:hover {
    border: 1px solid #339933;
}
/*textarea:focus { color: red }*/
#commenting #formfield-form-widgets-text .horizontal {
    display: none;
}

.discussion {
    background-color: #d3e3c3;
    border-radius: 0.3em;
    border:1px solid #d3e3c3;
    color: #339933;
    padding: 10px;
    margin-bottom: 10px;
}

.comment {
    margin-top: 0;
}

#commenting .field {
    margin-bottom: 5px;
}

/* ---------------------------------------------------------------------------- notificacions purr */

#purr-container { position:fixed; right:177px; top:95px; z-index:10; }
#purr-container div.info { background: url(++resource++fatac.theme.images/icon-favorits.png) no-repeat 13px center; }
#purr-container div.purr { border:1px #339933 solid; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius: 10px; background-color:#E1EDD7; }
#purr-container div.purr div { padding:15px; }
#purr-container div span { font-size: 14px; color:#339933; padding-left:35px; line-height:12px; }
#purr-container div a.close{ display:none; }


/* ---------------------------------------------------------------------------- formularis */

.field_fatac { margin-bottom:5px; }
.input_fatac { border-radius:0.3em; -moz-border-radius:0.3em; -webkit-border-radius: 0.3em; background-color:#D3E3C3; font-family:Arial; font-size:15px !important; color:#9acc9a !important; border:1px solid #D3E3C3; }
.input_fatac:focus { background-color:#D3E3C3 !important; color:#339933 !important; border:1px solid #339933; }
.formControls_fatac { margin:23px 0 0 0 !important; float:left; }
.button_fatac { height:auto !important; padding:10px 5px !important; margin:0 !important; background-color:white; border:1px solid #9acc9a !important; border-radius:0.3em; -moz-border-radius:0.3em; -webkit-border-radius: 0.3em; font-family:Arial; font-size:15px !important; color:#339933 !important; font-weight:bold; }
.button_fatac:hover { background-color:#9acc9a; color:#339933 !important; }
.login-forgotten-password-fatac { float:left; margin-left:15px; padding-top:34px; }
.descripcio_registre { float:left; line-height:18px; height:91px; }
.link_registre {  }

/* ---------------------------------------------------------------------------- login-form */
#login-form { float:left; width:100%; }
#login-wrapper { float:left; width:100%; padding: 20px; }
#login-wrapper .login-left, #login-wrapper .login-right { height:175px; }
#login-wrapper .login-left { float:left; width:45%; border-right:1px solid #B3D396; padding-right:4.8%; margin-right:5%; }
#login-wrapper .login-right { float: right; width:45%; }

#login-wrapper #login-form input { width:100%; border-radius: 0.3em 0.3em 0.3em 0.3em; height: 30px; padding: 5px; }
#login-wrapper #login-form { clear:none; }


/* ---------------------------------------------------------------------------- altres */
.download a {
    color: #339933 !important;
    background-color: #B3D396;
    border-radius: 0.3em 0.3em 0.3em 0.3em;
    font-size: 13px;
    padding: 0.5em;
}
#content .download a:hover {color: #339933 !important;}

.media iframe { margin-bottom: 15px;}

.vjs-tech {
    position: relative !important;}

.vjs-poster {
    position: absolute !important;
    z-index: 0;
    left: 0;
    top: 0;
}    

/* Color de fondo del player en audio */
.video-js {
    background-color: black;
}

/* forzar ver controls en player */
.vjs-fade-out {
    -moz-transition: visibility 0s linear 0s, opacity 0.3s linear 0s;
    visibility: visible !important;
    opacity: 1 !important;
}

#box_captions  {
    background: url("") no-repeat scroll 10px center #B3D396;
    border-radius: 0.3em 0.3em 0.3em 0.3em;
    font-size: 13px;
    padding: 0.95em 0.5em 0.95em 3.5em;
}    


#dialog-form, #dialog-confirm {display: none}


.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    background: url("++resource++fatac.theme.images/ui-bg_flat_45_205c90_40x100.png") repeat-x scroll 50% 50% #B3D396;
    color: #339933;
    border: 1px solid #339933;
    font-weight: normal;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    color: #339933;
}

#comentari {
    height: 87px;
    width: 252px;
}

.numberofcomments {margin-bottom: 20px; font-size: 13px;}

.pb-ajax {border-radius: 0.5em;}

.login-logo {padding-bottom:40px;}

body.template-logged_out #content, body.template-login_form #content, .pb-ajax #login-form {
    text-align: left;
}
