/* ---------------------------------------------------------------------------- deformFormFieldset */
.deformFormFieldset { border:none !important; background-color:#ededed; padding:10px;}
.deformFormFieldset ul { list-style-type: none !important; margin-left: 0 !important; }
.deformFormFieldset label { margin-right:15px; }
.deformFormFieldset li.buttons { margin-top:15px; }
.miniatura_objecte_validacio_legal { float:right; margin-top:-63px; }
.miniatura_objecte_validacio_legal .genericview_imatge { background-color:transparent; }


/* ---------------------------------------------------------------------------- estructura */
#visual-portal-wrapper { margin:auto; width:950px; }
div.width-full { width: 100%; }
div.position-0 { margin-left: -100%; }
#content { margin:0; }


/* ---------------------------------------------------------------------------- general */
a { border-bottom:none !important; }

.div_dotted_line { float:left; width:100%; clear:both; border-top:1px dotted #888888; padding-top:10px; margin-top:4px; }
.div_dotted_line_soft { float:left; width:100%; clear:both; border-top:1px dotted #cccccc; padding-top:10px; margin-top:20px; }
.div_dotted_line_doble_negre { float:left; width:100%; clear:both; border-bottom:1px dotted #000000; border-top:1px dotted #000000; padding-bottom:8px; padding-top: 8px; margin-bottom:8px; }
.div_dotted_line_bottom { float:left; width:100%; clear:both; border-bottom:1px dotted #888888; padding-bottom:8px; margin-bottom:8px; }

.hidden { display:none; }

img.arrow_top, img.arrow_bottom { margin-right:5px; }

.arial20c333333bold { font-family:Arial; font-size:20px; color:#333333 !important; font-weight:bold !important; }
.arial16c339933bold { font-family:Arial; font-size:16px; color:#339933 !important; font-weight:bold !important; }
.arial15c666666 { font-family:Arial; font-size:15px; color:#666666 !important; }
.arial15c999999 { font-family:Arial; font-size:15px; color:#999999 !important; }
.arial13c999999 { font-family:Arial; font-size:13px; color:#999999 !important; }
.arial13c999999upp { font-family:Arial; font-weight:normal; line-height:1em; font-size:13px; color:#999999 !important; text-transform: uppercase; }
.arial13c000000upp { font-family:Arial; font-weight:normal; line-height:1em; font-size:13px; color:#000000 !important; text-transform: uppercase; }
.arial13cffffff { font-family:Arial; font-size:13px; color:#ffffff !important; }
.arial12c999999i { font-family:Arial; font-size:12px; color:#999999 !important; font-style:italic; }
.arial12c666666 { font-family:Arial; font-size:12px; color:#666666 !important; }
.arial11c666666 { font-family:Arial; font-size:11px; color:#666666 !important; }
.arial11c339933 { font-family:Arial; font-size:11px; color:#339933 !important; }
.georgia32c666666 { font-family:georgia; font-size:32px; color:#666666 !important; line-height:38px; }
.georgia13c333333 { font-family:georgia; font-size:13px; color:#333333 !important; }
.georgia11c333333 { font-family:georgia; font-size:11px; color:#333333 !important; }
.georgia11c999999 { font-family:georgia; font-size:11px; color:#999999 !important; }
.georgia11c000000 { font-family:georgia; font-size:11px; color:#000000 !important; }

 .font_normal { font-weight: normal !important; }

img.spinner_zona_resultats { margin: 220px 0 220px 49%; }
img.spinner_pagina { margin: 220px 0 0 49%; }


/* ---------------------------------------------------------------------------- edit-bar */
#contentActionMenus dl.actionMenu a, #contentActionMenus dl.actionMenu.activated dd, #contentActionMenus, #content-views, #edit-bar
    { background-color:#dddddd; border-color:#dddddd; }


/* ---------------------------------------------------------------------------- languageselector.pt */
#selector_idiomes { width:100%; clear:both; float:left; margin-bottom:15px; }
#selector_idiomes dl.actionMenu { background-color:#333333; border-radius:0 0 0.3em 0.3em; -webkit-radius:0 0 0.3em 0.3em; -moz-border-radius:0 0 0.3em 0.3em; }
#selector_idiomes dl.actionMenu.activated { border-radius:0; -webkit-radius:0; -moz-border-radius:0; }
#selector_idiomes dl.actionMenu .actionMenuHeader { padding-bottom:2px; }
#selector_idiomes dl.actionMenu .currentLanguage { margin:0 12px 0px 8px; }
#selector_idiomes dd.actionMenuContent { background-color:#666666; padding:0; border-radius:0 0 0.3em 0.3em; -webkit-radius:0 0 0.3em 0.3em; -moz-border-radius:0 0 0.3em 0.3em; z-index:4; }
#selector_idiomes dd.actionMenuContent a { background-color:#666666; padding:2px 0 4px 0; margin-left:8px; }


/* ---------------------------------------------------------------------------- portal-logo */
#portal-logo { float:left; margin-top:0; }


/* ---------------------------------------------------------------------------- cercador.pt */
#viewlet_cercador { float:left; width:450px; margin-left:100px; }
#viewlet_cercador form#cercador { border:none; border-radius:0.5em; -webkit-radius:0.5em; -moz-border-radius:0.5em; background-color:#f6f6f6; float:left; width:310px; }
#viewlet_cercador #s { background-color:transparent; border:none; padding-left:10px; float:left; margin-top:10px; }
#viewlet_cercador .searchButton { background-color:transparent; border:none; margin:5px; }
#viewlet_cercador a { float:left; margin: 7px 0 0 25px; }


/* ---------------------------------------------------------------------------- personal_bar.pt */
#portal-personaltools-wrapper { float:right; }
#portal-personaltools { background:url('++resource++fatac.theme.images/user_24_verde.gif') no-repeat 10px center #b3d396; border-radius:0.5em; -webkit-radius:0.5em; -moz-border-radius:0.5em; padding:0.95em 2em 0.95em 4.5em; }
#portal-personaltools, #portal-personaltools a { color:#339933; }
#portal-personaltools.activated { border-radius:0.5em 0.5em 0 0; -webkit-radius:0.5em 0.5em 0 0; -moz-border-radius:0.5em 0.5em 0 0; }
#portal-personaltools dd { background-color:#d3e3c3; margin-top:12px; }


/* ---------------------------------------------------------------------------- searchview.pt: filtres; */
#selector_filtres  { margin-bottom:10px; }
#selector_filtres .boto_filtres { float:right; text-align:left; background-color:#ececec; border:1px solid #999999; padding:0px 20px 2px 10px; border-radius:0.3em; -webkit-radius:0.3em; -moz-border-radius:0.3em; }
#selector_filtres .boto_filtres.amagar_filtres { background:url('++resource++fatac.theme.images/ico_reduir.png')  no-repeat right center #ececec; }
#selector_filtres .boto_filtres.mostrar_filtres { background:url('++resource++fatac.theme.images/ico_ampliar.png')  no-repeat right center #ececec; }

#selector_filtres .div_dotted_line { margin-top:8px; }
#selector_filtres div.filtres { float:left; width:24000px; }
#selector_filtres .filtre { float:left; width:138px; margin-left:10px; overflow:hidden; }

#selector_filtres .filtre .div_interior { width:125px; }

#selector_filtres .filtre ul, #selector_filtres .filtre dd { margin:0; }
#selector_filtres .filtre dt { margin-bottom:5px; font-weight:normal; }
#selector_filtres .filtre li { display:block; }

#selector_filtres .arrow_left, #selector_filtres .arrow_right { float:left; width:3%; text-align:center; padding-top:50px; }
#selector_filtres .arrow_right { float:right;}

#selector_filtres .filtre a.link_filtre:hover, #selector_filtres .filtre a.link_filtre.selected
    { color:#000000 !important; }

/* css necessari per ampliar filtres (jquery) */

#selector_filtres .filtre .div_interior li { line-height:15px; }
#selector_filtres .filtre, #selector_filtres #wrapper { height:110px; }
#selector_filtres #wrapper { overflow:hidden; }
#selector_filtres .clearLeft {clear:left;}


/* css necessari per scroll horitzontal de filtre (jquery) */

#selector_filtres .scrollable { position:relative; overflow:hidden; }
#selector_filtres .scrollable .filtres { width:20000em; position:absolute; }
#selector_filtres .scrollable .filtres div { float:left; }
#selector_filtres a.disabled { visibility:hidden !important; }


/* css necessari per scroll vertical d'opcions dins un filtre (jquery) */

#selector_filtres #slider-vertical, #selector_filtres .slideopcions, #selector_filtres .barra { height:90px; }
#selector_filtres .slideopcions { overflow:hidden; float:left; position:relative; }


.div_interior { float:left; }
.barra, .ui-slider-handle { margin-left:2px; }
.barra { float:right; background:url('++resource++fatac.theme.images/slider.png')  repeat-y center transparent; border:none; width:7px; }
#slider-vertical{ position:relative; text-align:center; }
.ui-slider-handle { height:10px; margin:0 auto; background-color:#999999; display:block; position:absolute; width:3px; }

    /* css per que esfaci ample l'scroll quan el fem servir */
    .slider_vertical .ui-slider-handle { margin-left:2px; }
    .slider_vertical:hover .ui-slider-handle { border-left:2px solid #999999; border-right:2px solid #999999; margin-left:0px; }


/* ---------------------------------------------------------------------------- llistes desplegables */
dl.llista_desplegable { margin-bottom:0; margin-left:20px; }
dl.llista_desplegable dt { margin:0 !important; min-width: 100%; width: auto; border-radius:0.3em; -webkit-radius:0.3em; -moz-border-radius:0.3em; padding:0; }
dl.llista_desplegable.activated dt { border-bottom:0; border-radius:0.3em 0.3em 0 0; -webkit-radius:0.3em 0.3em 0 0; -moz-border-radius:0.3em 0.3em 0 0; }
dl.llista_desplegable dt a { margin:0 10px !important; border-bottom:none !important; font-weight:normal; }
dl.llista_desplegable dt img { margin-left:20px; }
dl.llista_desplegable dd { right:-2px; margin:0 !important; border-radius:0 0 0.3em 0.3em; -webkit-radius:0 0 0.3em 0.3em; -moz-border-radius:0 0 0.3em 0.3em; padding:0; border-top:0; }
dl.llista_desplegable dd ul { list-style-type: none !important; margin: 0 10px !important; }

dl.llista_desplegable_gris dt, dl.llista_desplegable_gris dd { background-color:#ECECEC; border: 1px solid #999999; }
dl.llista_desplegable_gris dd a.selected { color:#000000 !important; }

dl.llista_desplegable_verd dt, dl.llista_desplegable_verd dd { background-color:#D3E3C3; border: 1px solid #339933; }


/* ---------------------------------------------------------------------------- searchview.pt: resultats; */
#resultats .arrow_left_resultats, #resultats .arrow_right_resultats { float:left; width:3%; }
#resultats .arrow_right_resultats { float:right;}
#resultats .resultat { float:left; margin-right:9px; margin-top:9px; background-color:#ececec; }
#resultats .resultat.small { width:71px; height:71px; }
#resultats .resultat.medium { width:88px; height:88px; }
#resultats .resultat.large { width:114px; height:114px; }
#resultats .resultat.small img { max-width:71px; max-height:71px; }
#resultats .resultat.medium img { max-width:88px; max-height:88px; }
#resultats .resultat.large img { max-width:114px; max-height:114px; }

#controls_resultats { float:left; width:100%; margin:10px 0;}

#dades_paginacio_cerca { float:left; width:50%; font-size:12px; color:#999999 !important; font-family: georgia; }

#zoom_resultats { margin-right:7px; float:left; width:125px; height:18px; padding:5px 10px 0 10px; background-color:#f3f3f3; border:1px solid #cccccc; border-radius:0.3em; -webkit-radius:0.3em; -moz-border-radius:0.3em; }
#zoom_resultats img, #zoom_resultats #slider-wrap-zoom { float:left; }
/* per que la barra que fa slide pugui fer 20px d'ample, li posem 20 px de border-right */
#zoom_resultats #slider-wrap-zoom { position:absolute; height:7px; width:60px; margin:2px 9px 0 22px; background:url('++resource++fatac.theme.images/slider_h.png')  repeat-x center transparent; border-right: 20px solid transparent;}
#zoom_resultats #slider-wrap-zoom .ui-slider-handle { height:7px; margin:0 auto; background-color:#999999; display:block; position:absolute; width:20px; }
#zoom_resultats #zoom_menys { float:left; }
#zoom_resultats #zoom_mes { float:right; }

#visualitzacio_resultats { float:right; }

#accions_cerca { padding-top:30px; }
#accions_cerca dl.llista_desplegable dt img { margin-left: 5px; }

#visualitzacio_resultats a img { border:1px solid transparent; }
#visualitzacio_resultats div#zoom_resultats.selected, #visualitzacio_resultats div#zoom_resultats:hover, #visualitzacio_resultats a.selected img, #visualitzacio_resultats a:hover img { border:1px solid #999999; border-radius:0.3em; -webkit-radius:0.3em; -moz-border-radius:0.3em; }

#resultats { float:left; width:100%; }
#wrapper_resultats { overflow:hidden; position:relative; height:485px; }
.pagines_resultats { position:absolute; width:20000em; }
.pagines_resultats .pagina { width:944px; float:left; }
#resultats_cerca a.disabled { visibility: hidden !important; }

#ordre_y_tipus_cerca dl { margin-bottom:0; z-index:1; }


/* ---------------------------------------------------------------------------- viewlet_footer */
#viewlet_footer { padding-top:30px; margin-bottom:20px; }
#viewlet_footer #sponsors { margin-top:40px; }
#viewlet_footer #sponsors div { float:left; }
#viewlet_footer #sponsors div img { margin: 20px 20px 0 0; }


/* ---------------------------------------------------------------------------- homeview.pt */
#text_intro { width:90%; float:left; padding: 0 5%; padding: 0 20px; }

#ultims_documents, #ultims_consultats { width:100%; float:left; }
#ultims_documents { border-top:1px dotted #888888; padding-top:10px; margin-top:40px; }
.requadre_resultats { text-align:center; width:96%; float:left; border-top:1px dotted #888888; border-bottom:1px dotted #888888; background-color:#ececec; padding:20px 2%; margin:10px 0; }
.requadre_resultats .arrow_up { margin-bottom:10px; }
.requadre_resultats .arrow_down { margin-top:10px; }
.requadre_resultats .genericview_fitxa_home {height:175px; text-align:left;  width:16%; float:left; margin:0 1%; background-color:white; padding:1%; }

/* codi necessari per scrollable ultims_documents, ultims_consultats i formulari legal */
.requadre_resultats a.disabled { visibility: hidden; }
.scrollable_fatac { position:relative; overflow:hidden; width: 100%; }
.scrollable_fatac { height:175px; text-align:left; }
.scrollable_fatac .pagina { position:absolute; height:20000em; width:100%; }
.scrollable_fatac .fila { float:left; width:100%; }

 .spinner_home { margin: 80px 0 0 49% }


/* ---------------------------------------------------------------------------- resultats cerca */
#resultats_cerca { min-height:480px; }
#resultats_cerca #wrapper_resultats { margin: 0 28px; width:879px; }
#resultats_cerca .arrow_left_resultats, #resultats_cerca .arrow_right_resultats { margin-top: 220px; }


/* ---------------------------------------------------------------------------- cerca_view.pt */
.zona_filtres_inicial { text-align:center; height:173px }
.zona_resultats_inicial { text-align:center; height:500px; }
.zona_resultats_inicial img { margin-top:200px; }


/* ---------------------------------------------------------------------------- explorarview.pt */
.explorar_classe.selected { color:black !important; }



















/* ---------------------------------------------------------------------------- genericview.pt (vista final dels objectes) */
#header_objecte {background-color: orange}
#body_objecte {background-color: lightblue}
#content_objecte {background-color: lightgreen}
#footer_objecte {background-color: pink}

div.genericview_fitxa_ampliada_cerca { float:left; width:100%; }
div.genericview_fitxa_ampliada_cerca .seccio_dades { float:left; width:100%; clear:both; }

div.genericview_fitxa_ampliada_cerca.amb_subcerca #header_objecte { float:left; width:33%; margin-bottom:20px; clear:left; }
div.genericview_fitxa_ampliada_cerca.amb_subcerca #body_objecte { float:left; width:66%; margin-bottom:20px; margin-left:1%; clear:right; }
div.genericview_fitxa_ampliada_cerca .slider_vertical { height:200px; }
div.genericview_fitxa_ampliada_cerca .div_interior { width:97%; }

div.genericview_fitxa_ampliada_cerca.sense_subcerca .divs_esq { float:left; width:33%; clear:left; margin-bottom:20px; }
div.genericview_fitxa_ampliada_cerca.sense_subcerca #header_objecte { float:left; width:100%; margin-bottom:10px; }
div.genericview_fitxa_ampliada_cerca.sense_subcerca #body_objecte { float:left; width:100%; }
div.genericview_fitxa_ampliada_cerca.sense_subcerca #content_objecte { float:right; width:65%; margin-bottom:20px; clear:right; }

/*
.requadre_objects { text-align:center; width:100%; float:left; border-top:1px dotted #888888; border-bottom:1px dotted #888888; background-color:#ececec; padding:2% 0; margin:10px 0 20px 0; }
*/
.requadre_objects { margin:0 0 20px 0; text-align:center; }
.scrollable_genericview { height:220px; text-align:center; width:98%; float:left; border-top:1px dotted #888888; border-bottom:1px dotted #888888; background-color:#ececec; padding:0% 2% 0% 0; margin:0; }
.scrollable_genericview .fila { margin: 10px 0; }
.requadre_objects .arrow_up { margin-bottom:10px; }
.requadre_objects .arrow_down { margin-top:10px; }
.requadre_objects .genericview_fitxa_home {height:175px; text-align:left;  width:26.6%; float:left; margin-left:2%; background-color:white; padding:2%; }
.requadre_objects a.disabled { visibility: hidden; }


/* ---------------------------------------------------------------------------- genericview_imatge.pt */
.genericview_imatge { float:left; background-color:#ececec; text-align:center; margin:5px; }
.genericview_imatge.zoom_1 { width:70px; height:70px; }
.genericview_imatge.zoom_2 { width:85px; height:85px; margin:6px;}
.genericview_imatge.zoom_3 { width:100px; height:100px; }
.genericview_imatge.zoom_1 img { max-width:70px; max-height:70px; }
.genericview_imatge.zoom_2 img { max-width:85px; max-height:85px; }
.genericview_imatge.zoom_3 img { max-width:100px; max-height:100px; }
.spinner img { margin-top:40%; }


/* ---------------------------------------------------------------------------- genericview_fitxa_cerca.pt */
.genericview_fitxa_cerca { float:left; width:274px; margin:1%; height:80px; background-color:#ececec; }
.genericview_fitxa_cerca .thumbnail { float:left; width:32%; margin-right:2%; }
.genericview_fitxa_cerca .thumbnail .miniatura_objecte { max-width:100%; max-height:100%; }
.genericview_fitxa_cerca .dades { float:right; width:66%; height:100%; overflow:hidden;}
.genericview_fitxa_cerca .dades .miniatura_classe { max-width:15px; max-height:15px; margin-bottom:10px; }


/* --------------------------------------------------------------------- genericview_fitxa_ampliadacerca.pt */
.genericview_fitxa_ampliada_cerca #dades_left { float:left; width:30%; }
.genericview_fitxa_ampliada_cerca #dades_left .div_interior { width:95%; }
.genericview_fitxa_ampliada_cerca #dades_left, .genericview_fitxa_ampliada_cerca #dades_right, .genericview_fitxa_ampliada_cerca #slider-vertical, .genericview_fitxa_ampliada_cerca .slideopcions, .genericview_fitxa_ampliada_cerca .barra
    { height:200px; }
.genericview_fitxa_ampliada_cerca #dades_right { float:left; width:67%; margin-left:2%; }

.genericview_fitxa_ampliada_cerca h1 { margin-top:0 !important; float:left; }
.genericview_fitxa_ampliada_cerca .miniatura_classe { max-width:15px; max-height:15px; margin:9px 0 0 5px; }


/* --------------------------------------------------------------------- genericview_hover_cerca.pt */
.genericview_hover_cerca { min-width:300px; min-height:300px; }
.img_hover { background-color:#FFFFFF; padding:10px; -moz-box-shadow:0 0 90px 5px #000; -webkit-box-shadow: 0 0 90px #000; }


/* ---------------------------------------------------------------------------- genericview_fitxa_home.pt */
.genericview_fitxa_home { float:left; }
.genericview_fitxa_home .miniatura_objecte { max-width:140px; max-height:90px; }
.genericview_fitxa_home .miniatura_classe { float:left; max-width:15px; max-height:15px; margin:10px 0 7px 0;}
.genericview_fitxa_home div.imatge { float:left; width:100%; height:90px; margin-bottom:5px; text-align:center; }
.genericview_fitxa_home div.dades { float:left; width:100%; height:65px; }

